*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
}

body
{
    font-family: sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.25em;
    background: #fff;
    color: #000;
    display: grid;
    min-height: 90vh;
    padding: 1rem;
    margin: 0;
}

main
{
    border: 0.2rem solid #5067fb;
    padding: 2em;
    border-radius: 3rem;
    margin: auto;
    max-width: 30rem;
    text-align: center;
}

a
{
    font-family: "Playwrite GB S", cursive;
    font-style: normal;
    font-weight: 500;
    color: #5067fb;
}

h1
{
    line-height: 1.5em;
    font-weight: 200;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
    body, h1 { font-weight: 200; }
}