*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
}

body
{
    font-family: sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.25em;
    background: #fff;
    color: #000;
    display: grid;
    min-height: 90vh;
    padding: 1rem;
    margin: 0;
}

main
{
    border: 0.2rem solid #5067fb;
    padding: 2em;
    border-radius: 3rem;
    margin: auto;
    max-width: 30rem;
    text-align: left;
}

a
{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: #5067fb;
    line-height: 1.5em;
    text-decoration: none;
}

h1
{
    line-height: 1.5em;
    font-weight: 500;
    color: #5067fb;
}

ul {
    text-align: center; 
    list-style-position: inside;
    padding-left: 0;
}

li {
    text-align: left;
}

